## Merge topic labels to chunk dataframe

In [1]:
import pickle
import gensim
from gensim import models
import gensim.corpora as corpora
import pandas as pd
import warnings
warnings.filterwarnings("ignore",category=FutureWarning)
from pprint import pprint

## Get Resources

In [2]:
# Lemmanized text
with open("20240220_PhD_ChkLem-NV.txt", "rb") as fp:   # Unpickling
    data_lemmatized = pickle.load(fp)

In [3]:
# Load saved mallet
lda_mallet = gensim.models.wrappers.LdaMallet.load("20240221_PhD_TopicChkMAL14")
# Convert to LDA
ldamodel = gensim.models.wrappers.ldamallet.malletmodel2ldamodel(lda_mallet)

In [21]:
pprint(sorted(ldamodel.print_topics(num_words=10)))

[(0,
  '0.072*"work" + 0.066*"man" + 0.033*"mind" + 0.028*"find" + 0.028*"people" + '
  '0.021*"woman" + 0.017*"body" + 0.013*"world" + 0.012*"life" + '
  '0.011*"study"'),
 (1,
  '0.069*"country" + 0.026*"settle" + 0.021*"person" + 0.020*"people" + '
  '0.019*"obtain" + 0.018*"land" + 0.017*"settlement" + 0.017*"labour" + '
  '0.016*"arrive" + 0.016*"government"'),
 (2,
  '0.049*"year" + 0.028*"book" + 0.024*"expect" + 0.022*"read" + 0.021*"pay" + '
  '0.019*"interest" + 0.015*"copy" + 0.014*"draw" + 0.014*"month" + '
  '0.013*"feel"'),
 (3,
  '0.032*"life" + 0.028*"heart" + 0.024*"wife" + 0.022*"die" + 0.020*"death" + '
  '0.016*"live" + 0.015*"hold" + 0.015*"call" + 0.015*"husband" + 0.014*"eye"'),
 (4,
  '0.090*"time" + 0.057*"give" + 0.043*"hand" + 0.030*"day" + 0.027*"head" + '
  '0.025*"remain" + 0.024*"call" + 0.023*"bring" + 0.018*"case" + '
  '0.017*"return"'),
 (5,
  '0.041*"day" + 0.025*"night" + 0.024*"hour" + 0.024*"morning" + 0.023*"ship" '
  '+ 0.023*"bed" + 0.015*"weather" + 0.014*"water" + 0.014*"evening" + '
  '0.013*"fire"'),
 (6,
  '0.078*"send" + 0.072*"write" + 0.069*"letter" + 0.051*"friend" + '
  '0.050*"give" + 0.040*"family" + 0.037*"hear" + 0.030*"receive" + '
  '0.028*"brother" + 0.021*"health"'),
 (7,
  '0.054*"land" + 0.053*"year" + 0.036*"acre" + 0.033*"dollar" + 0.031*"farm" '
  '+ 0.030*"money" + 0.029*"pay" + 0.028*"country" + 0.025*"sell" + '
  '0.022*"pound"'),
 (8,
  '0.055*"place" + 0.049*"house" + 0.027*"town" + 0.026*"river" + 0.020*"foot" '
  '+ 0.020*"road" + 0.019*"side" + 0.016*"build" + 0.015*"building" + '
  '0.015*"wood"'),
 (9,
  '0.067*"child" + 0.052*"week" + 0.042*"feel" + 0.034*"day" + 0.029*"girl" + '
  '0.025*"boy" + 0.023*"hear" + 0.019*"return" + 0.016*"critchlow" + '
  '0.016*"fear"'),
 (10,
  '0.039*"school" + 0.034*"church" + 0.029*"time" + 0.028*"number" + '
  '0.022*"follow" + 0.020*"attend" + 0.016*"give" + 0.014*"call" + '
  '0.014*"service" + 0.013*"member"'),
 (11,
  '0.030*"state" + 0.025*"law" + 0.015*"office" + 0.013*"power" + '
  '0.012*"government" + 0.012*"party" + 0.011*"people" + 0.011*"order" + '
  '0.011*"war" + 0.011*"religion"'),
 (12,
  '0.096*"sister" + 0.029*"room" + 0.022*"place" + 0.016*"order" + '
  '0.016*"speak" + 0.016*"mother" + 0.015*"visit" + 0.014*"door" + '
  '0.013*"reach" + 0.012*"gentleman"'),
 (13,
  '0.034*"bring" + 0.024*"work" + 0.022*"month" + 0.020*"day" + 0.020*"board" '
  '+ 0.016*"dollar" + 0.013*"business" + 0.013*"wage" + 0.013*"find" + '
  '0.012*"provision"')]

In [30]:
# Metadata
df = pd.read_csv("20240220_PhD_Data4TopicModel-Chunk.csv") 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3785 entries, 0 to 3784
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3785 non-null   int64
 1   docauthorid       3785 non-null   object
 2   docauthorname     3785 non-null   object
 3   docid             3785 non-null   object
 4   sourcetitle       3785 non-null   object
 5   docyear           3741 non-null   float64
 6   docmonth          2824 non-null   float64
 7   docday            2215 non-null   float64
 8   authorgender      3785 non-null   object
 9   agewriting        2817 non-null   float64
 10  birthyear         2861 non-null   float64
 11  deathyear         2849 non-null   float64
 12  religionNew       2501 non-null   object
 13  relMin            3198 non-null   object
 14  nationalOrigin    3780 non-null   object
 15  britishEmpire_EU  3773 non-null   object
 16  translated        3785 non-null   bool
 17  authorLocation    3785 non-null   object
 18  socialClass       3177 non-null   object
 19  A                 3177 non-null   object
 20  I                 3177 non-null   object
 21  CCP               3177 non-null   object
 22  Unknown           3177 non-null   object
 23  wageLabour        3177 non-null   object
 24  publicLetter      659 non-null    object
 25  chunk             3785 non-null   object
 26  sequence          3785 non-null   int64
 27  scoreNeg          3785 non-null   float64
 28  scorePos          3785 non-null   float64
 29  scoreNeu          3785 non-null   float64
 30  scoreCompound     3785 non-null   float64
 31  chunks            3785 non-null   int64
 32  position          3785 non-null   float64
dtypes: bool(1), float64(11), int64(3), object(18)
memory usage: 950.1+ KB

In [84]:
df.head()

,docID-AT,docauthorid,docauthorname,docid,sourcetitle,docyear,docmonth,docday,authorgender,agewriting,...,publicLetter,chunk,sequence,scoreNeg,scorePos,scoreNeu,scoreCompound,chunks,position,topicNumber
0,1,per0001043,"Segale, Sister Blandina, 1850-1941",S1019-D002,At the End of the Santa Fe Trail,1872.0,11.0,30.0,F,22.0,...,NaN,"TRINIDAD On Train from Steubenville, Ohio, to ...",1,0.053,0.119,0.827,0.9425,15,0.066667,12
1,2,per0001043,"Segale, Sister Blandina, 1850-1941",S1019-D002,At the End of the Santa Fe Trail,1872.0,11.0,30.0,F,22.0,...,NaN,Josephine. This letter thrilled us both. I was...,2,0.050,0.092,0.859,0.8625,15,0.133333,12
2,3,per0001043,"Segale, Sister Blandina, 1850-1941",S1019-D002,At the End of the Santa Fe Trail,1872.0,11.0,30.0,F,22.0,...,NaN,them at two-thirty without one word of goodbye...,3,0.037,0.080,0.883,0.6977,15,0.200000,12
3,4,per0001043,"Segale, Sister Blandina, 1850-1941",S1019-D002,At the End of the Santa Fe Trail,1872.0,11.0,30.0,F,22.0,...,NaN,This in substance was their conversation with ...,4,0.056,0.132,0.812,0.9451,15,0.266667,12
4,5,per0001043,"Segale, Sister Blandina, 1850-1941",S1019-D002,At the End of the Santa Fe Trail,1872.0,11.0,30.0,F,22.0,...,NaN,three o'clock A M the baggage checker came thr...,5,0.059,0.148,0.793,0.9509,15,0.333333,12

In [31]:
# Change column name to "docID-AT"
df = df.rename(columns={'Unnamed: 0':'docID-AT'})
df

,docID-AT,docauthorid,docauthorname,docid,sourcetitle,docyear,docmonth,docday,authorgender,agewriting,...,wageLabour,publicLetter,chunk,sequence,scoreNeg,scorePos,scoreNeu,scoreCompound,chunks,position
0,1,per0001043,"Segale, Sister Blandina, 1850-1941",S1019-D002,At the End of the Santa Fe Trail,1872.0,11.0,30.0,F,22.0,...,False,NaN,"TRINIDAD On Train from Steubenville, Ohio, to ...",1,0.053,0.119,0.827,0.9425,15,0.066667
1,2,per0001043,"Segale, Sister Blandina, 1850-1941",S1019-D002,At the End of the Santa Fe Trail,1872.0,11.0,30.0,F,22.0,...,False,NaN,Josephine. This letter thrilled us both. I was...,2,0.050,0.092,0.859,0.8625,15,0.133333
2,3,per0001043,"Segale, Sister Blandina, 1850-1941",S1019-D002,At the End of the Santa Fe Trail,1872.0,11.0,30.0,F,22.0,...,False,NaN,them at two-thirty without one word of goodbye...,3,0.037,0.080,0.883,0.6977,15,0.200000
3,4,per0001043,"Segale, Sister Blandina, 1850-1941",S1019-D002,At the End of the Santa Fe Trail,1872.0,11.0,30.0,F,22.0,...,False,NaN,This in substance was their conversation with ...,4,0.056,0.132,0.812,0.9451,15,0.266667
4,5,per0001043,"Segale, Sister Blandina, 1850-1941",S1019-D002,At the End of the Santa Fe Trail,1872.0,11.0,30.0,F,22.0,...,False,NaN,three o'clock A M the baggage checker came thr...,5,0.059,0.148,0.793,0.9509,15,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3780,3781,per0036238,"Ling, Kwang Chang, fl. 1878",S9974-D029,America's Immigrants: Adventures in Eyewitness...,1878.0,8.0,2.0,M,NaN,...,NaN,True,by Chinamen are now sold in this market quite ...,7,0.074,0.128,0.798,0.9186,11,0.636364
3781,3782,per0036238,"Ling, Kwang Chang, fl. 1878",S9974-D029,America's Immigrants: Adventures in Eyewitness...,1878.0,8.0,2.0,M,NaN,...,NaN,True,high living was possible. To augment this prol...,8,0.104,0.040,0.856,-0.8997,11,0.727273
3782,3783,per0036238,"Ling, Kwang Chang, fl. 1878",S9974-D029,America's Immigrants: Adventures in Eyewitness...,1878.0,8.0,2.0,M,NaN,...,NaN,True,or a manufactury without steam. The Chinese ar...,9,0.146,0.018,0.836,-0.9746,11,0.818182
3783,3784,per0036238,"Ling, Kwang Chang, fl. 1878",S9974-D029,America's Immigrants: Adventures in Eyewitness...,1878.0,8.0,2.0,M,NaN,...,NaN,True,enough. The times are hard; there is much suff...,10,0.132,0.052,0.815,-0.9349,11,0.909091
3784,3785,per0036238,"Ling, Kwang Chang, fl. 1878",S9974-D029,America's Immigrants: Adventures in Eyewitness...,1878.0,8.0,2.0,M,NaN,...,NaN,True,of government bonds and other property from ta...,11,0.084,0.100,0.816,0.3400,11,1.000000

In [38]:
data = df.chunk.values.tolist()
data[0]

"TRINIDAD On Train from Steubenville, Ohio, to Cincinnati. Nov 30, 1872. My Darling Sister Justina: How interestedly you, Sister M Louis and myself read Eugénie de Guérin's Journal and her daily anxieties to save her brother from being a spiritual outcast! This Journal which I propose keeping for you will deal with incidents occurring on my journey to Trinidad and happenings in that far-off land to which I am consigned. The Journal will begin with the first act. Here is Mother Josephine's letter: Mt St Vincent, O, Nov 27, 1872. Sister Blandina, Steubenville, O My Dear Child: You are missioned to Trinidad. You will leave Cincinnati Wednesday and alone. Mother Regina will attend to your needs. Devotedly, Mother Josephine. This letter thrilled us both. I was delighted to make the sacrifice, and you were hiding your feelings that I might not lose any merit. Neither of us could find Trinidad on the map except in the island of Cuba. So we concluded that Cuba was my destination. I was to leave Steubenville quietly so that none of my obstreperous pupils might cause the incoming teacher"

# Create Functions & Objects

In [8]:
# Create Dictionary
id2word = corpora.Dictionary(data_lemmatized)

# Create Corpus
texts = data_lemmatized

# Term Document Frequency
corpus = [id2word.doc2bow(text) for text in texts]

In [46]:
def format_topics(ldamodel=ldamodel, corpus=corpus, texts=texts):
    # Init output
    topics_df = pd.DataFrame()

    # Get main topic in each document
    for i, row in enumerate(ldamodel[corpus]):
        row = sorted(row, key=lambda x: (x[1]), reverse=True)
        # Get the Dominant topic, Perc Contribution and Keywords for each document
        for j, (topic_num, prop_topic) in enumerate(row):
            if j == 0:  # => dominant topic
                wp = ldamodel.show_topic(topic_num)
                topic_keywords = ", ".join([word for word, prop in wp])
                topics_df = topics_df.append(pd.Series([int(topic_num), round(prop_topic,4), topic_keywords]), ignore_index=True)
            else:
                break
    topics_df.columns = ['Dominant_Topic', 'Perc_Contribution', 'Topic_Keywords']

    # Add original text to the end of the output
    contents = pd.Series(texts)
    topics_df = pd.concat([topics_df, contents], axis=1)
    return(topics_df)

In [47]:
# Check the topic for the first 10 rows. 
df_topic_keywords = format_topics(ldamodel=ldamodel, corpus=corpus, texts=data)

# Format
df_dominant_topic = df_topic_keywords.reset_index()
df_dominant_topic.columns = ['Document_No', 'Dominant_Topic', 'Topic_Perc_Contrib', 'Keywords', 'Text']

# Show
df_dominant_topic.head()

,Document_No,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text
0,0,12,0.1570,"sister, room, place, order, speak, mother, vis...","TRINIDAD On Train from Steubenville, Ohio, to ..."
1,1,12,0.1634,"sister, room, place, order, speak, mother, vis...",Josephine. This letter thrilled us both. I was...
2,2,12,0.2493,"sister, room, place, order, speak, mother, vis...",them at two-thirty without one word of goodbye...
3,3,12,0.2109,"sister, room, place, order, speak, mother, vis...",This in substance was their conversation with ...
4,4,12,0.1961,"sister, room, place, order, speak, mother, vis...",three o'clock A M the baggage checker came thr...

In [67]:
map_Text_topicNumber = {}

In [68]:
for index, item in enumerate(data):
    topic_dist = ldamodel.get_document_topics(corpus[index])

    # topic_dist is a list of tuples: each tuple has a topic number with its corresponding proportion
    sorted_topic_dist = sorted(topic_dist, key=lambda x: (x[1]), reverse=True) # Sort it in descending order
    
    # Pick the top one:
    topic_number = sorted_topic_dist[0][0]
    map_Text_topicNumber[item] = topic_number

In [69]:
# View the first key value pair in dictionary (text, label)
dict(list(map_Text_topicNumber.items())[0:1])

{"TRINIDAD On Train from Steubenville, Ohio, to Cincinnati. Nov 30, 1872. My Darling Sister Justina: How interestedly you, Sister M Louis and myself read Eugénie de Guérin's Journal and her daily anxieties to save her brother from being a spiritual outcast! This Journal which I propose keeping for you will deal with incidents occurring on my journey to Trinidad and happenings in that far-off land to which I am consigned. The Journal will begin with the first act. Here is Mother Josephine's letter: Mt St Vincent, O, Nov 27, 1872. Sister Blandina, Steubenville, O My Dear Child: You are missioned to Trinidad. You will leave Cincinnati Wednesday and alone. Mother Regina will attend to your needs. Devotedly, Mother Josephine. This letter thrilled us both. I was delighted to make the sacrifice, and you were hiding your feelings that I might not lose any merit. Neither of us could find Trinidad on the map except in the island of Cuba. So we concluded that Cuba was my destination. I was to leave Steubenville quietly so that none of my obstreperous pupils might cause the incoming teacher": 12}

In [70]:
df['topicNumber'] = df['chunk'].map(map_Text_topicNumber)
df.loc[:10,['docid', 'docauthorid', 'chunk', 'topicNumber']]

,docid,docauthorid,chunk,topicNumber
0,S1019-D002,per0001043,"TRINIDAD On Train from Steubenville, Ohio, to ...",12
1,S1019-D002,per0001043,Josephine. This letter thrilled us both. I was...,12
2,S1019-D002,per0001043,them at two-thirty without one word of goodbye...,12
3,S1019-D002,per0001043,This in substance was their conversation with ...,12
4,S1019-D002,per0001043,three o'clock A M the baggage checker came thr...,12
5,S1019-D002,per0001043,"year he sent a barge of coal to us."" I said he...",12
6,S1019-D002,per0001043,of business was anywhere near. He pointed to W...,12
7,S1019-D002,per0001043,"say, ""She does not mind going so far and alone...",6
8,S1019-D002,per0001043,"5th, at our old homestead. Mother kept open ho...",12
9,S1019-D002,per0001043,"you?"" I answered, ""I prefer to do just as my s...",10
10,S1019-D002,per0001043,It was like hearing sketches of a favorite ope...,12

In [71]:
# Group top 5 sentences under each topic
topics_sorteddf_mallet = pd.DataFrame()

topics_outdf_grpd = df_topic_keywords.groupby('Dominant_Topic')

for i, grp in topics_outdf_grpd:
    topics_sorteddf_mallet = pd.concat([topics_sorteddf_mallet, 
                                             grp.sort_values(['Perc_Contribution'], ascending=[0]).head(1)], 
                                            axis=0)

# Reset Index    
topics_sorteddf_mallet.reset_index(drop=True, inplace=True)

# Format
topics_sorteddf_mallet.columns = ['Topic_Num', "Topic_Perc_Contrib", "Keywords", "Text"]

# Show
topics_sorteddf_mallet

,Topic_Num,Topic_Perc_Contrib,Keywords,Text
0,0,0.4184,"work, man, mind, find, people, woman, body, wo...","with the nature, and construction, and functio..."
1,1,0.3320,"country, settle, person, people, obtain, land,...","were induced to settle there. Indeed, when I c..."
2,2,0.3677,"year, book, expect, read, pay, interest, copy,...","offer to come to New York, and become one of h..."
3,3,0.3940,"life, heart, wife, die, death, live, hold, cal...","invite men to lay down their arms, and then br..."
4,4,0.2963,"time, give, hand, day, head, remain, call, bri...","all his business to his son, Mr B Otero. Being..."
5,5,0.4297,"day, night, hour, morning, ship, bed, weather,...","wind veered to the north-west as before, and b..."
6,6,0.3492,"send, write, letter, friend, give, family, hea...","from Ottawa, with a promise, that I would send..."
7,7,0.6041,"land, year, acre, dollar, farm, money, pay, co...","100 Seed wheat, sowing, and harrowing 175 Inci..."
8,8,0.4006,"place, house, town, river, foot, road, side, b...","yard in full blast, and expect soon to be able..."
9,9,0.3539,"child, week, feel, day, girl, boy, hear, retur...",Sarah to Martha January 4 This being the anniv...
10,10,0.4259,"school, church, time, number, follow, attend, ...",and to observe all the ordinances of the Gospe...
11,11,0.3860,"state, law, office, power, government, party, ...","said candidates, and several names had been st..."
12,12,0.4179,"sister, room, place, order, speak, mother, vis...",realized how long I had been standing when the...
13,13,0.4718,"bring, work, month, day, board, dollar, busine...","than if new; some dozens of eggs, packed in sa..."

In [72]:
# Number of Documents for Each Topic
topic_counts = df_topic_keywords['Dominant_Topic'].value_counts()
topic_counts

9     403
12    402
11    339
6     319
7     305
5     261
8     255
13    250
2     238
10    235
1     231
3     207
0     184
4     156
Name: Dominant_Topic, dtype: int64

In [73]:
# Percentage of Documents for Each Topic
topic_contribution = round(topic_counts/topic_counts.sum(), 4)
topic_contribution

9     0.1065
12    0.1062
11    0.0896
6     0.0843
7     0.0806
5     0.0690
8     0.0674
13    0.0661
2     0.0629
10    0.0621
1     0.0610
3     0.0547
0     0.0486
4     0.0412
Name: Dominant_Topic, dtype: float64

In [77]:
# Topic Number and Keywords
topic_num_keywords = df_topic_keywords[['Dominant_Topic', 'Topic_Keywords']].drop_duplicates().sort_values(by = 'Dominant_Topic')
topic_num_keywords

     Dominant_Topic                                     Topic_Keywords
110               0  work, man, mind, find, people, woman, body, wo...
65                1  country, settle, person, people, obtain, land,...
176               2  year, book, expect, read, pay, interest, copy,...
11                3  life, heart, wife, die, death, live, hold, cal...
30                4  time, give, hand, day, head, remain, call, bri...
31                5  day, night, hour, morning, ship, bed, weather,...
7                 6  send, write, letter, friend, give, family, hea...
83                7  land, year, acre, dollar, farm, money, pay, co...
44                8  place, house, town, river, foot, road, side, b...
230               9  child, week, feel, day, girl, boy, hear, retur...
9                10  school, church, time, number, follow, attend, ...
177              11  state, law, office, power, government, party, ...
0                12  sister, room, place, order, speak, mother, vis...
36               13  bring, work, month, day, board, dollar, busine...

In [78]:
topic_num_keywords.reset_index(drop=True, inplace=True)
topic_num_keywords

    Dominant_Topic                                     Topic_Keywords
0                0  work, man, mind, find, people, woman, body, wo...
1                1  country, settle, person, people, obtain, land,...
2                2  year, book, expect, read, pay, interest, copy,...
3                3  life, heart, wife, die, death, live, hold, cal...
4                4  time, give, hand, day, head, remain, call, bri...
5                5  day, night, hour, morning, ship, bed, weather,...
6                6  send, write, letter, friend, give, family, hea...
7                7  land, year, acre, dollar, farm, money, pay, co...
8                8  place, house, town, river, foot, road, side, b...
9                9  child, week, feel, day, girl, boy, hear, retur...
10              10  school, church, time, number, follow, attend, ...
11              11  state, law, office, power, government, party, ...
12              12  sister, room, place, order, speak, mother, vis...
13              13  bring, work, month, day, board, dollar, busine...

In [252]:
# Reordering
# topic_num_keywords = topic_num_keywords.reindex([11,17,14,5,3,2,4,0,18,20,7,1,15,10,16,19,9,6,8,12,13])
# topic_num_keywords

    Dominant_Topic                                     Topic_Keywords
11            11.0  week, day, weather, boy, baby, morning, doctor...
17            17.0  thing, time, people, year, lot, house, uncle, ...
14            14.0  land, country, acre, farm, year, farmer, wheat...
5              5.0  book, paper, work, dear, copy, friend, world, ...
3              3.0  letter, brother, time, wife, health, news, mai...
2              2.0  sister, man, room, hospital, mother, place, pa...
4              4.0  child, school, mother, boy, time, teacher, par...
0              0.0  day, morning, ship, hour, sea, night, time, wi...
18            18.0  year, wife, money, time, care, interest, husba...
20            20.0  work, dollar, month, day, money, cent, time, w...
7              7.0  place, land, country, settlement, town, year, ...
1              1.0  city, house, town, building, street, place, sh...
15            15.0  day, eye, hand, heart, room, life, mind, head,...
10            10.0  church, people, place, person, year, immigrant...
16            16.0  company, fire, day, horse, wagon, animal, wate...
19            19.0  people, state, country, law, year, hand, world...
9              9.0  family, friend, girl, woman, daughter, death, ...
6              6.0  time, account, month, manner, situation, natur...
8              8.0  man, government, day, soldier, war, member, ho...
12            12.0  foot, gold, time, snow, road, water, place, ma...
13            13.0  body, world, food, man, business, water, ship,...

In [79]:
# Concatenate Column wise
df_dominant_topics = pd.concat([topic_num_keywords, topic_counts.rename('counts'), topic_contribution.rename('contribution')], axis=1).sort_values(by = 'Dominant_Topic')
df_dominant_topics

,Dominant_Topic,Topic_Keywords,counts,contribution
0,0,"work, man, mind, find, people, woman, body, wo...",184,0.0486
1,1,"country, settle, person, people, obtain, land,...",231,0.0610
2,2,"year, book, expect, read, pay, interest, copy,...",238,0.0629
3,3,"life, heart, wife, die, death, live, hold, cal...",207,0.0547
4,4,"time, give, hand, day, head, remain, call, bri...",156,0.0412
5,5,"day, night, hour, morning, ship, bed, weather,...",261,0.0690
6,6,"send, write, letter, friend, give, family, hea...",319,0.0843
7,7,"land, year, acre, dollar, farm, money, pay, co...",305,0.0806
8,8,"place, house, town, river, foot, road, side, b...",255,0.0674
9,9,"child, week, feel, day, girl, boy, hear, retur...",403,0.1065
10,10,"school, church, time, number, follow, attend, ...",235,0.0621
11,11,"state, law, office, power, government, party, ...",339,0.0896
12,12,"sister, room, place, order, speak, mother, vis...",402,0.1062
13,13,"bring, work, month, day, board, dollar, busine...",250,0.0661

In [88]:
df_dominant_topics.to_csv("20240222__PhD_TopicsChkMAL14.csv")

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3785 entries, 0 to 3784
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   docID-AT          3785 non-null   int64
 1   docauthorid       3785 non-null   object
 2   docauthorname     3785 non-null   object
 3   docid             3785 non-null   object
 4   sourcetitle       3785 non-null   object
 5   docyear           3741 non-null   float64
 6   docmonth          2824 non-null   float64
 7   docday            2215 non-null   float64
 8   authorgender      3785 non-null   object
 9   agewriting        2817 non-null   float64
 10  birthyear         2861 non-null   float64
 11  deathyear         2849 non-null   float64
 12  religionNew       2501 non-null   object
 13  relMin            3198 non-null   object
 14  nationalOrigin    3780 non-null   object
 15  britishEmpire_EU  3773 non-null   object
 16  translated        3785 non-null   bool
 17  authorLocation    3785 non-null   object
 18  socialClass       3177 non-null   object
 19  A                 3177 non-null   object
 20  I                 3177 non-null   object
 21  CCP               3177 non-null   object
 22  Unknown           3177 non-null   object
 23  wageLabour        3177 non-null   object
 24  publicLetter      659 non-null    object
 25  chunk             3785 non-null   object
 26  sequence          3785 non-null   int64
 27  scoreNeg          3785 non-null   float64
 28  scorePos          3785 non-null   float64
 29  scoreNeu          3785 non-null   float64
 30  scoreCompound     3785 non-null   float64
 31  chunks            3785 non-null   int64
 32  position          3785 non-null   float64
 33  topicNumber       3785 non-null   int64
dtypes: bool(1), float64(11), int64(4), object(18)
memory usage: 979.6+ KB

In [87]:
df.to_csv("20240222_PhD_Data4NER-Chunk.csv")